.article{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:400px ;
    background-color:  #fef7e2;
    color: #772f0b;

}

.article img{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article h2{
    font-weight: bolder;
    font-size: 1.3em;
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}